<plugin>
	<nom>Figure</nom>
	<prefix>figure</prefix>
	<icon>figure.png</icon>

	<version>1.0.1</version>
	<etat>stable</etat>
	<categorie>multimedia</categorie>

	<slogan>Figures HTML5</slogan>
	<description>Insertion des documents en HTML5, avec figure et figcaption.</description>
	<auteur>[tetue->http://spip.tetue.net]</auteur>
	<lien>https://contrib.spip.net/figure</lien>

	<necessite id="SPIP" version="[2.1.0;3.2.99]" />
	<utilise id="medias" version="[1.6.8;]" />
	<utilise id="medoc" version="[1.0.0;]" />
	<utilise id="accessibilite" />
	<utilise id="oembed" version="[1.8.0;]"/>
</plugin>